<IfModule mod_rewrite.c>
    RewriteEngine On

    # !!! این خط را مطابق با نام پوشه پروژه‌تان در htdocs/www تنظیم کنید !!!
    # مثال: اگر پوشه پروژه شما "blockchain-master" است و در htdocs قرار دارد، بنویسید: /blockchain-master/public/
    # اگر از Virtual Host استفاده میکنید و ریشه پروژه تان public است، بنویسید: /
    RewriteBase /blockchain-master/public/ # <--- Make sure this matches your folder name!

    # اگر درخواست مربوط به یک فایل واقعی بود، آن را رد کنید (به PHP نفرستید)
    RewriteCond %{REQUEST_FILENAME} !-f
    # اگر درخواست مربوط به یک دایرکتوری واقعی بود، آن را رد کنید (به PHP نفرستید)
    RewriteCond %{REQUEST_FILENAME} !-d

    # هر درخواست دیگری را به index.php در پوشه public هدایت کنید
    RewriteRule ^ index.php [QSA,L]
</IfModule>